name: Publish

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true

    #TODO: find a better way to do this
    - name: Publish Win-x64
      run: dotnet publish src/AnvilPacker -c Release -p:IsPublish=true -p:CommitHash=${GITHUB_SHA::8} -r win-x64 -o dist/AnvilPacker-win-x64 

    - name: Publish Linux-x64
      run: dotnet publish src/AnvilPacker -c Release -p:IsPublish=true -p:CommitHash=${GITHUB_SHA::8} -r linux-x64 -o dist/AnvilPacker-linux-x64 

    - name: Publish OSX-x64
      run: dotnet publish src/AnvilPacker -c Release -p:IsPublish=true -p:CommitHash=${GITHUB_SHA::8} -r osx-x64 -o dist/AnvilPacker-osx-x64 


    - name: Zip binaries
      run: cd dist && ls -d */ | xargs -I %1 bash -c 'p=%1; zip -r -5 ${p%/}.zip $p' && cd ..

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: 'dist/*.zip'